@media screen and (max-width: 517px) {

    .logo {
      display: block;
    }
  
    .maindiv {
      display: block;
      height: 42%;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .nav {
      height: 250px !important;
    }
  
    .nav a {
      float: none !important;
      display: block;
      border: none !important;
    }
  
    .nav a:first-of-type {
      border: none !important;
    }
  
    .description {
      width: 100% !important; 
      display: block;
      margin: 0 auto;
    }
  
    .descriptionpicture {
      display: block;
      margin: 20px auto !important;
      height: 200px; 
      width: 50% !important; 
    }
  }
        
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  .description {
    width: 70%; 
    display: inline-block; 
    vertical-align: middle;
  }
  
  .descriptionpicture {
    margin-top: 20px; 
    vertical-align: middle; 
    height: 200px; 
    width: 29%; 
  }
  
  .body {
    margin: 0 auto;
    width: 90%
  }
  
  fieldset {
    padding: 20px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #003B6D;
  }
  
  #search {
    margin: 0 20px 0 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .searches {
    float: right;
    margin-top: 10px;
  }
  
  .consultations {
    display: block;
    margin: 0 20px 0 0;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-top: 7px;
    border: 2px solid orange;
  }
  
  .consultations:hover {
    color: white;
    background-color: orange;
  }
  
  #searchbutton {
    background-color: #003B6D;
    color: white;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
  }
  
  h1 {
    text-align: center;
    color: #003B6D;
  }
  
  .nav {
    margin-top: 30px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #003B6D;
  }
  
  .nav a:first-of-type {
    border-left: 2px solid white;
  }
  
  .nav a {
    float: left;
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    border-right: 2px solid white;
  }
  
  .nav a:hover {
    background-color: #6699CC;
  }
  
  .pictures {
    margin: 0 auto;
    text-align: center;
    padding: 2px;
  }
  
  strong {
    font-size: 14px;
  }
  
  .pictures a {
    width: 17%;
  }
  
  h3 {
    margin-top: 35px;
  }
  
  .lastpara {
    padding-bottom: 20px;
  }
  
  .info {
    display: inline-block;
    width: 29%;
    text-align: center;
    background-color: #BDBDBD;
    padding: 10px 0 10px 0;
  }
  
  .info a {
    text-decoration: none;
    color: black;
  }
  
  form { 
    display: table; 
    margin: 0 auto;
  }
  
  .forms p { 
    display: table-row;
  }
  
  .forms label { 
    display: table-cell;
    padding-right: 10px;
  }
  
  .forms input { 
    display: table-cell;
    margin: 10px 0 10px 0; 
  }
  
  footer {
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: #003B6D;
    color: white;
  }
  
  .breadcrums {
    padding: 15px 20px 0 4%;
  }
  
  .breadcrums a {
    text-decoration: none;
    padding: 15px;
  }
  
  textarea {
    resize: vertical;
  }